// colors
$gray-50: #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$red-500: #f44336;
$red-600: #e53935;

$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;

$green-500: #4CAF50;
$green-600: #43A047;

$yellow-500: #FFEB3B;
$yellow-600: #FDD835;

$orange-500: #FF9800;
$orange-600: #FB8C00;

$brown-500: #795548;

// fonts
$font-primary: 'Roboto', Arial, sans-serif;
$font-second: 'Roboto Condensed', Arial, sans-serif;

// radius
$radius-primary: 2px;
$radius-round: 100%;

// breakpoints
$S: 768px;
$M: 992px;
$L: 1200px;